body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0 auto;
}

#banner {
	background-color: #b19e9e;
	height: 200px;
}

#photo {
	border-radius: 100%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -100px;
}

h1 {
	text-align: center;
	letter-spacing: 8px;
	font-size: 30px;
	font-weight: 400;
	margin: 150px 48px 8px 48px;
}

h2 {
	color: #a4a4a4;
	letter-spacing: 5px;
	margin: 0 0 36px 0;
	font-weight: 300;
}

h3 {
	text-align: center;
	margin: 0 48px 8px 48px;
	color: #a4a4a4;
	font-weight: 300;
}

p {
	margin: 0;
	line-height: 1.4;
}

.bold {
	font-weight: 600;
}

ul.info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#header {
	margin-bottom: 48px
}

.grid-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 1000px;
	max-width: 1200px;
	margin: 0 48px 48px 48px;
	padding-top: 48px;
	border-top: 4px solid #EFF0F2;
}

.grid-container p {
	text-align: justify;
}

.grid-item {
	overflow-wrap: break-word;
	width: calc(50% - 48px);
	padding-bottom: 48px;
}

.border-right {
	border-right: 4px solid #EFF0F2;
}

.padding-right {
	padding-right: 48px;
}

.padding-left {
	padding-left: 48px;
}

.skills-div {
	padding-bottom: 12px;
}

.education-div {
	padding-bottom: 12px;
}

@media (max-width: 800px) {
	.grid-container {
		max-height: none;
	}
	.grid-item {
		width: 100%;
	}
	.padding-left {
		padding-left: 0;
	}
	.padding-right {
		padding-right: 0;
	}
	.border-right{
		border-right: none;
		} 
}